*
*/**

!node_modules/sharp
!node_modules/array-flatten
!node_modules/color
!node_modules/color-convert
!node_modules/color-name
!node_modules/color-string
!node_modules/simple-swizzle
!node_modules/is-arrayish
!node_modules/node-addon-api
!node_modules/npmlog
!node_modules/are-we-there-yet
!node_modules/delegates
!node_modules/readable-stream
!node_modules/core-util-is
!node_modules/inherits
!node_modules/isarray
!node_modules/process-nextick-args
!node_modules/safe-buffer
!node_modules/string_decoder
!node_modules/util-deprecate
!node_modules/console-control-strings
!node_modules/gauge
!node_modules/aproba
!node_modules/has-unicode
!node_modules/object-assign
!node_modules/signal-exit
!node_modules/string-width
!node_modules/emoji-regex
!node_modules/is-fullwidth-code-point
!node_modules/strip-ansi
!node_modules/ansi-regex
!node_modules/wide-align
!node_modules/set-blocking
!node_modules/prebuild-install
!node_modules/detect-libc
!node_modules/expand-template
!node_modules/github-from-package
!node_modules/minimist
!node_modules/mkdirp-classic
!node_modules/napi-build-utils
!node_modules/node-abi
!node_modules/semver
!node_modules/lru-cache
!node_modules/yallist
!node_modules/noop-logger
!node_modules/pump
!node_modules/end-of-stream
!node_modules/once
!node_modules/wrappy
!node_modules/rc
!node_modules/deep-extend
!node_modules/ini
!node_modules/strip-json-comments
!node_modules/simple-get
!node_modules/decompress-response
!node_modules/mimic-response
!node_modules/simple-concat
!node_modules/tar-fs
!node_modules/chownr
!node_modules/tar-stream
!node_modules/bl
!node_modules/buffer
!node_modules/base64-js
!node_modules/ieee754
!node_modules/fs-constants
!node_modules/tunnel-agent
!node_modules/which-pm-runs

!dist/**
!CHANGELOG.md
!icon.png
!LICENSE
!package.json
!package.*.json
!README.md